__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
db.sqlite3
/DjangoWebProject1/media/
/DjangoWebProject1/staticfiles/
.git/
.gitignore
.vs/
obj/
node_modules/
**/.env*
**/*.zip
**/*.key
**/*.pem
.git
